#appointments{
	display: flex;
}
#appointments header{
	font-size: 2.6em;
	font-weight: 700;
	margin-bottom: 2vh;
	margin-top: 2vh;
}

#appointments_form{
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.appointments_form_item{
	position: relative;
	width: 80%;
	height: fit-content;
	margin-bottom: 5vh;
}
.appointments_form_item p{
	font-size: 2.7em;
}
.appointments_form_item input{
	width: 100%;
	height: 35px;
	padding-left: 2%;
}
.appointments_form_item textarea{
	width: 100%;
	height: 90px;
	padding-left: 2%;
}
.appointments_form_item button{
	width: 100%;
	height: 40px;
	cursor: pointer;
}
#appointments_doctor{
	width: 100%;
	height: 50px;
	display: flex;
        align-items: center;
	justify-content: space-between;
	background: #222;
	cursor: pointer;
}
#appointments_doctor_display{
	width: 100%;
	height: fit-content;
	background: #000;
	position: absolute;
	top: 100%;
	display: none;
}
.appointments_doctors_item{
	width: 100%;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.4em;
	font-weight: 700;
	cursor: pointer;
	border-top: 1px #333 solid;
}
.appointments_doctors_item:hover{
	background: #222;
}
#appointments_doctor p{
	text-align: center;
	width: 80%;
}
#appointments_doctor div{
	width: 30px;
	height: 100%;
	border-left: 1px #ddd solid;
	display: flex;
	align-items: center;
        justify-content: center;
	font-size: 2em;
}
#appointments_timeslot{
	width: 40%;
	height: 100%;
	background: #111;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}
#appointments_timeslot p{
	font-size: 2.4em;
}
#appointments_timeslot input{
	width: 80%;
	height: 30px;
	text-align: center;
	margin-bottom: 0vh;
}
