body{
	background: #ccccff
}
#nav{
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: end;
	align-items: center;
	background: #fff;
	margin-bottom: 1vh;
}
#nav ion-icon{
	font-size: 3.5em;
	margin-right: 3vw;
	cursor: pointer;
}
#nav h2{
	font-size: 2.5em;
	margin-right: 3vw;
}



main{
	width: 95vw;
	height: 80vh;
	margin : 0 auto 0 auto;
	display: flex;
}


#side_menu{
	width: 20%;
	height: 90%;
	display: flex;
	flex-direction: column;
}
.side_menu_item{
	position: relative;
	width: 90%;
	height: 70px;
	background: #fff;
	color: #000;
	border-radius: 1vw;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}
.side_menu_item p{
	font-size: 2.2em;
	font-weight: 700;
}
.side_menu_item ion-icon{
	font-size: 4em;
}
.side_menu_item:hover{
	background: #00b7ff;
}


#dashboard{
	width: 80%;
	height: 100%;
	border: 1px #ccc solid;
}
.dashboard_item{
	width: 100%;
	height: 100%;
	display: none;
	background: #fff;
}


.active{
	background: blue;
	color: #fff;
}
