<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/main.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/doctor/main.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/doctor/dashboard.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/doctor/current_patient.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/doctor/appointments.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/doctor/history.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/doctor/notifications.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/doctor/prescriptions.css') }}>
	    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule="" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
	    <!--nav>
		    <h1 id='logo' style='cursor: pointer' onclick='window.location.href="/user/{{user.username}}"'>PARMA.</h1>
		    <h2 id='nav_profile'>{{user.name}}</h2>
	    </nav-->
	    <div id='nav'>
		    <ion-icon onclick='dark_light_mode()' name="contrast-outline"></ion-icon>
	    	   <ion-icon name="power" onclick='window.location.href="/user/{{user.username}}"'></ion-icon>
	    </div>
	    <main>
		    <div id='menu'>
			    <div id='sections_menu'>
				    <div onclick='display_dashboard("current_patient", this)' class='sections_menu_item active'>
					    <p>Current Patient</p>
				    </div>
				    <div onclick='display_dashboard("appointments", this)' class='sections_menu_item'>
					    <p>Appointments</p>
					    <div class='sections_menu_notification'>3</div>
				    </div>
				    <div onclick='display_dashboard("history", this)' class='sections_menu_item'>
					    <p>History</p>
				    </div>
				    <div onclick='display_dashboard("notifications", this)' class='sections_menu_item'>
					    <p>Notifications</p>
					    <div class='sections_menu_notification'></div>
				    </div>
				    <div onclick='display_dashboard("prescriptions", this)' class='sections_menu_item'>
					    <p>Prescriptions</p>
				    </div>
			    </div>
			    <div id='menu_profile'>Dr. {{user.name}}</div>
		    </div>
		    <div id='dashboard'>
			    <div class='dashboard_item' id='current_patient'>
			    </div>
			    <div class='dashboard_item' id='appointments'>
				    <div id='appointments_description'>
					    <div id='appointments_header'>Patients waiting for you...</div>
					    <div id='appointments_actions'>
						    <ion-icon name="calendar-clear-outline"></ion-icon>
						    <input id='appointments_search' placeholder='Search'>
					    </div>
				    </div>
				    {%for appointment in appointments%}
				    <div class='appointments_item'>
					    <div class='appointments_item_profile'><ion-icon name="person-circle-outline"></ion-icon><p>Patient Name</p></div>
                                            <div class='appointments_item_description'>
						    <p>
                                                    Be careful when deleting records in a table! Notice the WHERE clause in the DELETE statement.
                                                    The WHERE clause specifies which record(s) should be deleted. If you omit the WHERE clause,
                                                    all records in the table will be deleted!
                                                    </p>
					    </div>
					    <div class='appointments_item_actions'>
						    <div>Meet Now</div>
					    </div>
				    </div>
				    {%endfor%}
			    </div>
			    <div class='dashboard_item' id='history'></div>
			    <div class='dashboard_item' id='notifications'></div>
			    <div class='dashboard_item' id='prescriptions'>
				    <div id='prescriptions_search'>
					    <input id='prescriptions_searchbox' placeholder='Search Drug or Search Drug Use'>
					    <button id='prescriptions_searchbutton'>Search</button>
				    </div>
				    <div class='drug'>
					    <div class='drug_image'></div>
					    <div class='drug_info'>
						    <header>Paracetamol</header>
						    <p>Price : <strong>GHC 2.00</strong></p>
						    <p>Amount in Stock : <strong>40 Boxes</strong></p>
						    <p>Info : Paracetamol is used for curing headaches and providing relief from pain</p>
						    <p>Usage : Not for children below 1 year of age</p>
					    </div>
				    </div>
				    <div class='drug'>
					    <div class='drug_image'></div>
					    <div class='drug_info'>
						    <header>Panadol</header>
						    <p>Price : <strong>GHC 5.00</strong></p>
						    <p>Amount in Stock : <strong>20 Boxes</strong></p>
						    <p>Info : Panadol is used for curing headaches and providing relief from pain</p>
						    <p>Usage : Above the ages of 5 years old. Not for pregnant women</p>
					    </div>
				    </div>
				    <div class='drug'>
					    <div class='drug_image'></div>
					    <div class='drug_info'>
						    <header>Amyceptryne</header>
						    <p>Price : <strong>GHC 15.00</strong></p>
						    <p>Amount in Stock : <strong>100 Boxes</strong></p>
						    <p>Info : Amyceptryne is a sleeping tablet</p>
						    <p>Usage : For Adults above the ages of 10 years old. Not for pregnant women</p>
					    </div>
				    </div>
			    </div>
		    </div>
	    </main>
	    <section>
	    </section>
	    <script src={{ url_for('static', filename='hospital/staff/doctor/app.js') }}></script>
    </body>
</html>
