<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='basic/main.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/nurse/main.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/nurse/appointments.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/nurse/tasks.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/nurse/patients.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/nurse/notifications.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='hospital/staff/nurse/help_support.css') }}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="nurse, dashboard, appointment, booking">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <title>Nurse Dashboard - Book an Appointment</title>
</head>
    <body>
	    <div id='nav'>
		    <ion-icon name="power" onclick='window.location.href="/user/{{user.username}}"'></ion-icon>
		   <h2>{{user.name}}</h2>
	    </div>
	    <main>
		    <div id='side_menu'>
			    <div onclick='display_dashboard("appointments", this)' class='side_menu_item active'><ion-icon name="git-network"></ion-icon><p>Patients waiting list</p></div>
			    <div onclick='display_dashboard("tasks", this)' class='side_menu_item'><ion-icon name="briefcase-outline"></ion-icon><p>Task List</p></div>
			    <div onclick='display_dashboard("patients", this)' class='side_menu_item'><ion-icon name="server-outline"></ion-icon><p>Patients Database</p></div>
			    <div onclick='display_dashboard("notifications", this)' class='side_menu_item'><ion-icon name="alert-circle-outline"></ion-icon><p>Notifications</p></div>
			    <div onclick='display_dashboard("help_support", this)' class='side_menu_item'><ion-icon name="help-circle-outline"></ion-icon><p>Help & Support</p></div>
		    </div>
		    <div id='dashboard'>
			    <div class='dashboard_item' id='appointments'>
				    <div id='appointments_form'>
				    	    <header>Add Patient To Waiting List</header>
					    <div class='appointments_form_item'>
						    <p>Patients ID</p>
						    <input id='appointments_patients_id' placeholder='Enter Patients ID#'>
					    </div>
					    <div class='appointments_form_item'>
						    <p>Description</p>
						    <textarea id='illness_description' placeholder='Short description about patiens illness'></textarea>
					    </div>
					    <div class='appointments_form_item'>
						    <button onclick="set_appointment('{{hospital.public_id}}')">Book For Waiting List</button>
					    </div>
				    </div>
				    <div id='appointments_timeslot'>
					    <header>Book An Appointment</header>
					    <p>Appointment Time</p>
					    <input type='time' id='appointment_time'>
					    <div class='appointments_form_item'>
						    <div id='appointments_doctor_display'>
							    {%for doctor in doctors%}
							    <div class='appointments_doctors_item'>{{doctor.name}}</div>
							    {%endfor%}
						    </div>
						    <div id='appointments_doctor' onclick='appointments_doctor_display()'><p>Available Doctors</p><div>></div></div>
					    </div>
					    <div class='appointments_form_item'>
						    <button onclick="set_appointment('{{hospital.public_id}}')">Set An Appointment</button>
					    </div>
				    </div>
			    </div>
			    <div class='dashboard_item' id='tasks'></div>
			    <div class='dashboard_item' id='patients'>
				    <div id='paitents_search'>
					    <input id='patients_searchbox' placeholder='Search Patient name, Patient ID, National ID'>
					    <p onclick="search_patient()" id='patients_searchbutton'>Search</p>
				    </div>
				    <div id='patients_search_results'></div>
				    <div id='patients_add'>
					    <header>Add New Patient To DataBase</header>
					    <div id='patients_add_success'><div onclick='close_display("patients_add_success")'>X</div><p id='patients_add_success_message'></p></div>
					    <div class='patients_add_item'><p>Patient's Name</p><input id='patients_add_name' placeholder='Patients Name'></div>
					    <div class='patients_add_item'><p>Patient's National ID</p><input id='patients_add_national_id' placeholder='Patients National ID#'></div>
					    <div class='patients_add_item'><p>Patient's Date Of Birth</p><input id='patients_add_birth_date' placeholder='Patients Birth Date'></div>
					    <div class='patients_add_item'><p>Patient's Contact</p><input id='patients_add_contact' placeholder='Patients Contact'></div>
					    <button onclick='add_patient("{{hospital.public_id}}")'>Add Patient</button>
				    </div>
			    </div>
			    <div class='dashboard_item' id='notifications'></div>
			    <div class='dashboard_item' id='help_support'></div>
		    </div>
	    </main>
	    <section id='hidden' onclick='close_hidden(this)'>
		    <div id='popup'>
			    <p id='popup_message'></p>
			    <header>Click to Close</header>
		    </div>
	    </section>
	    <script src={{ url_for('static', filename='hospital/staff/nurse/app.js') }}></script>
    </body>
</html>
