*{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
body{
	width: 100vw;
	min-height: 100vh;
	background: #eee;
	color: #444;
	font-family:Oscine, sans-serif;
	font-size: 5px;
}
input:focus{
	outline: 0px solid transparent;
}
a{
	text-decoration: none;
	color: inherit;
}
nav{
	position: fixed;
	top: 0;
	width: 97vw;
	height: 8vh;
	padding: 1vh 2vw 1vh 1vw;
	background: #1a4cc3;
        display: flex;
	justify-content: space-between;
        align-items: center;
}
#logo{
        font-size: 4em;
	color: #fff;
}
#nav_profile{
	font-size: 2.5em;
	color: #fff;
}
main{
	margin-top: 8vh;
}
