*{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
body{
	width: 100vw;
	min-height: 100vh;
	background: #eee;
	color: #444;
	font-family:Oscine, sans-serif;
	font-size: 5px;
}
input:focus{
	outline: 0px solid transparent;
}
a{
	text-decoration: none;
	color: inherit;
}
img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
nav{
	position: fixed;
	top: 0;
	width: 97vw;
	height: 8vh;
	padding: 1vh 2vw 1vh 1vw;
	background: #1a4cc3;
        display: flex;
	justify-content: space-between;
        align-items: center;
	z-index: 100;
}
#logo{
        font-size: 3.7em;
	color: #fff;
}
#nav_profile{
	font-size: 2.5em;
	color: #fff;
}
main{
	margin-top: 8vh;
}

#hidden{
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0vh;
	display: none;
	justify-content: center;
	align-items: center;
}
#popup{
	width: 40%;
	height: fit-content;
	min-height: 150px;
	background: #222;
	border: 1px blue solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 5px 0 2px 0;	
}
#popup p{
	font-size: 3em;
	font-weight: 700;
}
#popup header{
	font-size: 2.5em;
}
