<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/main.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/login/login.css') }}>
	    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule="" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	    <title>Parma</title>
    </head>
    <body>
	    <nav>
		    <h1>PARMA.</h1>
	    </nav>
	    <main>
		    <div id='board'>
			    <h3>Login to your account</h3>
			    <div id='google_login'>
				    <ion-icon name="logo-google"></ion-icon>
				    <p>Sign Up With Google</p>
			    </div>
			    <div id='login_form_header'>Or use your credentials</div>
			    <form id='login_form' action='/login' method='POST'>
				    <input name='username' placeholder='Username'>
				    <div id='or'>Or</div>
				    <input name='email' placeholder='Email address' type='email' >
				    <input name='password' placeholder='Password' minlength='8' required>
				    <button type='submit'>Login</button>
				    <a id='to_other' href='/signup'>Don't Have an Account? SignUp</a>
			    </form>
		    </div>
	    </main>
	    <sub></sub>
    </body>
</html>
