<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/main.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/welcome/welcome.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/welcome/reveiws.css') }}>
	    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule="" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
	    <nav>
		    <h1 id='logo' style='cursor: pointer' onclick='window.location.reload(true)'>PARMA.</h1>
		    <a href='/login' id='login'>Login</a>
	    </nav>
	    <main>
		    <section id='welcome'>
			    <div id='welcome_message'>
				    <div id='welcome_text'>
					    <h2>Parma. Your HealthCare System Manager</h2>
					    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
					    Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
					    cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
					    galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
					    No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
					    electrónicos, quedando esencialmente igual al original.
					    </p>
					    <div id='welcome_video'>
						    <ion-icon name="play-circle"></ion-icon>
						    <h3>See it in action</h3>
					    </div>
				    </div>
			    </div>
			    <div id='conversion_form'>
				    <div id='sign_up_form'>
					    <h3>Sign Up & Start Your Free Trial</h3>
					    <div id='header_quick'>
						    <div class='line'></div>
						    <h4>Administrator Sign Up</h4>
						    <div class='line'></div>
					    </div>
					    <div id='google_signup'>
						    <ion-icon name="logo-google"></ion-icon>
						    <p>Sign Up With Google</p>
					    </div>
					    <div id='email_signup_header'>Or use your Email address</div>
					    <form id='email_signup' action='/signup' method='POST'>
						    <input name='first_name' placeholder='Your first name' class='fifty' required>
						    <input name='last_name' placeholder='Your last name' class='fifty' required>
						    <input name='username' placeholder='Your unique username' class='fifty' required>
						    <input name='email' placeholder='Your email address' class='fifty' type='email' required>
						    <p id='availability_info'></p>
						    <input name='password' placeholder='Password' minlength='8' required>
						    <p id='password_info'>Use at least 8 characters with one letter and one Numeral</p>
						    <button type='submit'>Sign Up for Parma</button>
					    </form>
				    </div>
			    </div>
		    </section>
		    <section id='reveiws'>
			    <div class='reveiw'>
				    <div class='reveiw_profile'>
					    <ion-icon name="person-circle"></ion-icon>
				    </div>
				    <div class='reveiw_text'>
					    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                            Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
                                            cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
                                            galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                                            No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
                                            electrónicos, quedando esencialmente igual al original.
                                            </p>
				    </div>
			    </div>
			    <div class='reveiw'>
				    <div class='reveiw_profile'>
					    <ion-icon name="person-circle"></ion-icon>
				    </div>
				    <div class='reveiw_text'>
					    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                            Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
                                            cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
                                            galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                                            No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
                                            electrónicos, quedando esencialmente igual al original.
                                            </p>
				    </div>
			    </div>
			    <div class='reveiw'>
				    <div class='reveiw_profile'>
					    <ion-icon name="person-circle"></ion-icon>
				    </div>
				    <div class='reveiw_text'>
					    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                            Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
                                            cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
                                            galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                                            No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
                                            electrónicos, quedando esencialmente igual al original.
                                            </p>
				    </div>
			    </div>
			    <div class='reveiw'>
				    <div class='reveiw_profile'>
					    <ion-icon name="person-circle"></ion-icon>
				    </div>
				    <div class='reveiw_text'>
					    <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                                            Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500,
                                            cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una
                                            galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
                                            No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos
                                            electrónicos, quedando esencialmente igual al original.
                                            </p>
				    </div>
			    </div>
		    </section>
	    </main>
	    <sub></sub>
    </body>
</html>
