<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/main.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/welcome/welcome.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/welcome/reveiws.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/welcome/about.css') }}>
	    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule="" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
	    <nav>
		    <h1 id='logo' style='cursor: pointer' onclick='window.location.reload(true)'>PARMA.</h1>
		    <a href='/login' id='login'>Login</a>
	    </nav>
	    <main>
		    <section id='welcome'>
			    <div id='welcome_message'>
				    <div id='welcome_text'>
					    <h2>Parma. Your HealthCare System Manager</h2>
					    <p>
					    Parma is here to help you manage daily activites and operations of your healtcare center.
					    Keep track of your patients, their medical history and their prescriptions.
					    Help Staff to manage their work-flow and stay up-to-date about situations in the healtCare center
					    and manage Payments all with one software
					    </p>
					    <div id='welcome_video'>
						    <ion-icon name="play-circle"></ion-icon>
						    <h3>See it in action</h3>
					    </div>
					    <a id='normal_signup' href='/signup'>Login/Sign Up As Staff</a>
				    </div>
			    </div>
			    <div id='conversion_form'>
				    <div id='sign_up_form'>
					    <h3>Sign Up & Start Your Free Trial</h3>
					    <div id='header_quick'>
						    <div class='line'></div>
						    <h4>Administrator Sign Up</h4>
						    <div class='line'></div>
					    </div>
					    <div id='google_signup'>
						    <ion-icon name="logo-google"></ion-icon>
						    <p>Sign Up With Google</p>
					    </div>
					    <div id='email_signup_header'>Or use your Email address</div>
					    <form id='email_signup' action='/signup' method='POST'>
						    <input name='first_name' placeholder='Your first name' class='fifty' required>
						    <input name='last_name' placeholder='Your last name' class='fifty' required>
						    <input name='username' placeholder='Your unique username' class='fifty' required>
						    <input name='email' placeholder='Your email address' class='fifty' type='email' required>
						    <p id='availability_info'></p>
						    <input name='password' type='password' placeholder='Password' minlength='8' required>
						    <p id='password_info'>Use at least 8 characters with one letter and one Numeral</p>
						    <button type='submit'>Sign Up for Parma</button>
					    </form>
				    </div>
			    </div>
		    </section>
		    <section id='reveiws'>
			    <div class='reveiw'>
				    <div class='reveiw_profile'>
					    <div><img src={{ url_for('static', filename='resources/welcome/doctor.jpeg') }}></div> 
				    </div>
				    <div class='reveiw_text'>
					    <header>DOCTORS...</header>
					    <div><img src={{ url_for('static', filename='resources/welcome/doctor_dashboard.png') }}></div>
					    <p>Has relevant information about a patient in a simple display.</p>
					    <p>Is allowed to display willingness to receive a patient or book appointments with
					    waiting patients</p>
					    <p>Search Engine to look up medications, their use cases and other relevant information</p>
				    </div>
			    </div>
			    <div class='reveiw'>
				    <div class='reveiw_profile'>
					    <div><img src={{ url_for('static', filename='resources/welcome/nurse.jpeg') }}></div> 
				    </div>
				    <div class='reveiw_text'>
					    <header>NURSES...</header>
					    <div><img src={{ url_for('static', filename='resources/welcome/doctor_dashboard.png') }}></div>
					    <p>Enter patient details</p>
					    <p>Book Doctors Appointments</p>
					    <p>Veiw Patients medical History</p>
				    </div>
			    </div>
			    <div class='reveiw'>
				    <div class='reveiw_profile'>
					    <div><img src={{ url_for('static', filename='resources/welcome/admin.jpeg') }}></div> 
				    </div>
				    <div class='reveiw_text'>
					    <header>ADMINISTRATORS...</header>
					    <p>Manage Staff</p>
					    <p>Real time statistics on hospital operations</p>
					    <p>Ability to shedule staff shifts</p>
				    </div>
			    </div>
			    <div class='reveiw'>
				    <div class='reveiw_profile'>
					    <div><img src={{ url_for('static', filename='resources/welcome/patient.jpeg') }}></div> 
				    </div>
				    <div class='reveiw_text'>
					    <header>PATIENTS...</header>
					    <p>Can request a date for an appointment</p>
					    <p>Can be automatically contacted about medical needs or appointments through messages or emails</p>
					    <p>Can use the in-app feature to make payments</p>
				    </div>
			    </div>
		    </section>
		    <section id='about'>
			    <div id='about_description'>
				    <header>About</header>
				    <p>
				    This project was started to help our healtcare centers be more efficient in their daily activities. The long wait times
				    and general miscommunication that often occur in most of our healtcare centers have been a source of great pain to a lot
				    of people.<br>
				    Parma is a project that has its start as an ALX/HOLBERTON school project.We have aims of growing as a software solution and
				    seeing a mass adoption of PARMA in our healtcare centers.
				    </p>
			    </div>
			    <header>Team</header>
			    <div class='about_item' id='james'>
				    <div class='about_image'><img src={{ url_for('static', filename='resources/welcome/james.webp') }}></div>
				    <div class='about_info'>
					    <h5>James Koduah</h5>
					    <p>Software Engineer from Ghana</p>
					    <div class='links'>
						    <ion-icon name="logo-linkedin"></ion-icon>
						    <ion-icon name="logo-twitter"></ion-icon>
						    <a href='https://github.com/James-koduah'><ion-icon name="logo-github"></ion-icon></a>
					    </div>
				    </div>
			    </div>
			    <div class='about_item' id='alex'>
				    <div class='about_info'>
					    <h5>Alexander Ushe</h5>
					    <p>Software Engineer from Zimbabwe</p>
					    <div class='links'>
						    <ion-icon name="logo-linkedin"></ion-icon>
						    <ion-icon name="logo-twitter"></ion-icon>
						    <ion-icon name="logo-github"></ion-icon>
					    </div>
				    </div>
				    <div class='about_image'><img src={{ url_for('static', filename='resources/welcome/alex.png') }}></div>
			    </div>
			    <iframe src="https://www.youtube.com/embed/2GX1I0IgjuM"></iframe> 
			    <div id='end'><p>PARMA<br><span>Your Healtcare Manager</span></p></div>
		    </section>
	    </main>
	    <sub></sub>
    </body>
</html>
