main{
	width: 100vw;
	height: fit-content;
	display: flex;
	margin-top: 10vh;
}
#menu{
	width: 29vw;
	height: 90vh;
	padding-top: 10vh;
	padding-right: 1vw;
	background: #ccc;
	display: flex;
	flex-direction: column;
	align-items: end;
}
.menu_item{
	width: 65%;
	padding-right: 5%;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;
	cursor: pointer;
}
.menu_item:hover{
	background: #444;
	color: #eee
}
.menu_item p{
	font-size: 3em;
	font-weight: 600;
}
#dashboard{
	width: 70vw;
	height: 90vh;
	background: #eee;
}
.dashboard_item{
	width: 100%;
	height: 100%;
	display: none;
	overflow-y: auto;
}
.active{
	background: #eee;
	color: #222;
}
