*{
        padding: 0 0 0 0;
        margin: 0 0 0 0;
}

body{
        width: 100vw;
        min-height: 100vh;
	height: fit-content;
	background: #000;
}

nav{
        position: fixed;
        top: 0vh;
        width: 98vw;
        padding-left: 1vw;
	padding-right: 1vw;
        height: 8vh;
        background: #000;
        color: #fff;
        display: flex;
	justify-content: space-between;
        align-items: center;
}
nav h1{
        font-size: 90%;
	width: fit-content;
}
a{
        text-decoration: none;
	color: inherit;
}

main{
        width: 100vw;
        min-height: 100vh;
	background: rgba(255, 255, 255, 0.3);
	display: flex;
}
.group{
	width: 33vw;
	height: 100vh;
	border-right: 1px #fff solid;
	padding-top: 12vh;
	text-align: center;
	font-size: 15px;
	color: #fff;
}
.item{
	width: 80%;
	height: 60px;
	margin: 3vh auto 0 auto;
	background: #a0a0a0;
	border: 1px #fff solid;
	border-radius: 1vw;
}
