*{
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
body{
	width: 100vw;
	height: 100vh;
	background: #fcfcfc;
	color: #000;
	font-family: Oscine, sans-serif;
	font-size: 5px;
        background: url('resources/home.jpg') no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
}
input:focus{
	outline: 0px solid transparent;
}
a{
	text-decoration: none;
	color: inherit;
}
nav{
	position: fixed;
	top: 0;
	width: 98vw;
	height: 8vh;
	padding: 1vh 1vw 1vh 1vw;
	background: #000;
        display: flex;
	justify-content: space-between;
        align-items: center;
}
nav h1{
        font-size: 90%;
	width: fit-content;
}
