<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href={{ url_for('static', filename='login_signup.css') }}>
	    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule="" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	    <title>Parma</title>
    </head>
    <body>
	    <nav><h1>PARMA.</h1></nav>
	    <main>
		    <div id='board'>
			    <a href='/'><h4>Enter</h4></a>
		    </div>
	    </main>
	    <sub></sub>
    </body>
</html>
