<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/main.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='admin/dashboard/main.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='admin/dashboard/register_staff.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='admin/dashboard/staff_database.css') }}>
	    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule="" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
	    <nav>
		    <h1 id='logo' style='cursor: pointer' onclick='window.location.reload(true)'>PARMA.</h1>
		    <h2 id='nav_profile'>{{user.name}} . {{hospital.name}}</h2>
	    </nav>
	    <main>
		    <div id='menu'>
			    <div class='menu_item active' onclick='display_dashboard(this)' data-dashboard='register_staff'><p>Register/Add Staff</p></div>
			    <div class='menu_item' onclick='display_dashboard(this)' data-dashboard='staff_database'><p>Staff Database</p></div>
			    <div class='menu_item' onclick='display_dashboard(this)' data-dashboard='patients_database'><p>Patients Database</p></div>
			    <div class='menu_item' onclick='display_dashboard(this)' data-dashboard='payments'><p>Payments</p></div>
			    <div class='menu_item' onclick='display_dashboard(this)' data-dashboard='appointments'><p>Appointments</p></div>
			    <div class='menu_item' onclick='display_dashboard(this)' data-dashboard='statistics'><p>Statistics</p></div>
			    <div class='menu_item' onclick='window.location.href="/user/{{user.username}}"'><p>Your Dashboard</p></div>
		    </div>
		    <div id='dashboard'>
			    <div class='dashboard_item' id='register_staff'>
				    <div id='register_staff_explanation'>
					    <p>If the person is signed into this app, You can use his/her username to invite him/her. You can also genearte a link to use.</p>
				    </div>
			    </div>
			    <div class='dashboard_item' id='staff_database'>
				    {%for staff in hospital.staff%}
				    <div class='hospital_staff'>
					    <div class='hospital_staff_image'></div>
					    <div class='hospital_staff_info'>
						    <header>{{staff.name}}</header>
					    </div>
				    </div>
				    {%endfor%}
			    </div>
			    <div class='dashboard_item' id='patients_database'></div>
			    <div class='dashboard_item' id='payments'></div>
			    <div class='dashboard_item' id='appointments'></div>
			    <div class='dashboard_item' id='statistics'></div>
		    </div>
	    </main>
	    <section>
	    </section>
	    <script src='{{ url_for('static', filename="admin/dashboard/app.js") }}'></script>
    </body>
</html>
