<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" href={{ url_for('static', filename='basic/main.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='admin/dashboard/main.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='admin/dashboard/register_staff.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='admin/dashboard/staff_database.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='admin/dashboard/pending_staff_invites.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='admin/dashboard/confirm_staff.css') }}>
	    <link rel="stylesheet" href={{ url_for('static', filename='admin/dashboard/hidden.css') }}>
	    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule="" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
	    <nav>
		    <h1 id='logo' style='cursor: pointer' onclick='window.location.reload(true)'>PARMA.</h1>
		    <h2 id='nav_profile'>{{user.name}} . {{hospital.name}}</h2>
	    </nav>
	    <main>
		    <div id='menu'>
			    <div class='menu_item active' onclick='display_dashboard("register_staff",this)'><p>Register/Invite Staff</p></div>
			    <div class='menu_item' onclick='display_dashboard("pending_staff_invites",this)'><p>Pending Staff Invites</p></div>
			    <div class='menu_item' onclick='display_dashboard("confirm_staff",this)'><p>Confirm Staff</p></div>
			    <div class='menu_item' onclick='display_dashboard("staff_database",this)'><p>Staff Database</p></div>
			    <div class='menu_item' onclick='display_dashboard("patients_database",this)'><p>Patients Database</p></div>
			    <div class='menu_item' onclick='display_dashboard("payments",this)'><p>Payments</p></div>
			    <div class='menu_item' onclick='display_dashboard("appointments",this)'><p>Appointments</p></div>
			    <div class='menu_item' onclick='display_dashboard("statistics",this)'><p>Statistics</p></div>
			    <div class='menu_item' onclick='window.location.href="/user/{{user.username}}"' style='background: #940202;'><p>Your Dashboard</p></div>
		    </div>
		    <div id='dashboard'>
			    <div class='dashboard_item' id='register_staff'>
				    <div id='register_staff_explanation'>
					    <p>If the person is signed into this app, You can use his/her username to invite him/her. You can also genearte a link to use.</p>
				    </div>
				    <div id='register_invite_form'>
					    <div class='invite_form_item'>
						    <p>Staff member Role</p>
						    <div class='radio_elem'>
							    <input type='radio' name='role' value='Doctor' checked>
							    <label for='doctor'>Doctor</label>
						    </div>
						    <div class='radio_elem'>
							    <input type='radio' name='role' value='Nurse'>
							    <label for='nurse'>Nurse</label>
						    </div>
					    </div>
					    <div class='invite_form_item'>
						    <p>Description of staff's duties</p>
						    <textarea id='invite_job_description' class='input_elem' name='job_description' placeholder='Job description' style='padding-top: 4px' required></textarea>
					    </div>
				    </div>
				    <div class='separator'></div>
				    <div id='invite_channel'>
					    <div style='margin-bottom: 0vh;' class='invite_form_item'>
						    <p>Send registration form with username</p>
						    <input id='invite_username' class='input_elem' name='invite_username' placeholder='Username' required>
						    <button onclick="send_invite('{{hospital.public_id}}')" class='generate_link'>Send registration form</button>
					    </div>
					    <div class='separator'>OR</div>
					    <div class='invite_form_item'>
						    <button class='generate_link'>Genarate Link</button>
					    </div>
				    </div>
			    </div>
			    <div class='dashboard_item' id='pending_staff_invites'>
				    {%for invite in pending_invites%}
				    <div class='confirm_staff'>
					    <p>This invite was sent to <strong>{{invite.user_name}}</strong></p>
					    <p>For the role: <strong>{{invite.role}}</strong></p>
					    <p>Job Description: <strong>{{invite.description}}</strong></p>
					    <p>Sent on: {{invite.created_on}}</p>
					    <p class='confirm_staff_more'>click for more details</p>
				    </div>
				    {%endfor%}
			    </div>
			    <div class='dashboard_item' id='confirm_staff'>
				    {%for invite in confirm_invites%}
				    <div class='confirm_staff'>
					    <p>This invite was sent to <strong>{{invite.user_name}}</strong></p>
					    <p>For the role: <strong>{{invite.role}}</strong></p>
					    <p>Job Description: <strong>{{invite.description}}</strong></p>
					    <p>Sent on: {{invite.created_on}}</p>
					    <p class='confirm_staff_more'>click for more details</p>
					    <button onclick='confirm_staff("{{invite.public_id}}")'>Confirm Staff</button>
				    </div>
				    {%endfor%}
			    </div>
			    <div class='dashboard_item' id='staff_database'>
				    {%for staff in hospital.staff%}
				    <div class='hospital_staff'>
					    <div class='hospital_staff_image'></div>
					    <div class='hospital_staff_info'>
						    <header>{{staff.name}}</header>
					    </div>
				    </div>
				    {%endfor%}
			    </div>
			    <div class='dashboard_item' id='patients_database'></div>
			    <div class='dashboard_item' id='payments'></div>
			    <div class='dashboard_item' id='appointments'></div>
			    <div class='dashboard_item' id='statistics'></div>
		    </div>
	    </main>
	    <section>
		    <div id='response_status'>
			    <p id='response_status_text'></p>
			    <button onclick='popup_display_close()'>Close</button>
	    </section>
	    <script src='{{ url_for('static', filename="admin/dashboard/app.js") }}'></script>
    </body>
</html>
