#dashboard{
	width: 90vw;
	height: 95vh;
	margin: 0 auto 0 auto;
	color: #222;
	overflow-y: auto;
	display: flex; 
}

.dashboard_item{
	position: flex;
	width: 90%;
	height: 90%;
	border-radius: 1vw;
	display: none;
	padding: 10px;
	margin-left: 0.5vw;
}
