main{
	width: 100vw;
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0vh;
}

#nav{
	width: 95vw;
	height: 50px;
	position: fixed;
	top: 3vh;
	left: 2.5vw;
	display: flex;
	justify-content: space-between;
}
#nav ion-icon{
	font-size: 40px;
	cursor: pointer;
}

#menu{
	width: 70vw;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: end;
}

#sections_menu{
	width: 65%;
	height: 30px;
	display: flex;
	justify-content: flex-start;
}
.sections_menu_item{
	position: relative;
	width: 25%;
	height: 100%;
	background: #111;
	color: #ccc;
	border-top-right-radius: 40%;
	border: 1px #111 solid;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sections_menu_item:hover{
	background: #444;
}
.sections_menu_item p{
	font-size: 2.2em;
	font-weight: 700;
}
.sections_menu_notification{
	position: absolute;
	width: 20px;
	height: 20px;
	background: red;
	color: #fff;
	border-radius: 50%;
	top: 0;
	right: 0;
	margin-top: -9px;
	font-size: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
}


#menu_profile{
	width: 30%;
	height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: end;
	font-size: 3em;
	font-weight: 700;
}
.active{
	background: #ccc;
	color: #111;
}


