#hospitals{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 4vh 2vw 4vh 2vw;
}


.hospital{
	width: 230px;
	height: 130px;
	padding: 20px 0 3px 5px;
	background: #222;
	color: #eee;
	border-radius: 1vw;
	overflow: hidden;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hospital header{
	font-size: 2.5em;
	font-weight: 700;
	margin-bottom: 6px;
}

.hospital p{
	font-size: 2.3em;
}

