main{
	width: 100vw;
	height: fit-content;
	display: flex;
	flex-direction: column;
	margin-top: 10vh;
}
#menu{
	width: 98vw;
	height: 70px;
	padding: 2vh 2vw 2vh 2vw;
	display: flex;
	border-bottom: 1px #444 solid;
}
.menu_item{
	width: 150px;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 1vw;
	background: #ddd;
	margin-right: 2vw;
}
.menu_item:hover{
	background: #00b7ff;
	color: #eee;
}
.menu_item p{
	font-size: 2.3em;
	font-weight: 600;
	text-align: right;
}
#dashboard{
	width: 100vw;
	min-height: 90vh;
	background: #eee;
}
.dashboard_item{
	width: 100%;
	height: 100%;
	display: none;
}

.active{
	background: blue;
	color: #fff;
}
