#staff_invite{
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 4vh;
}

.staff_invite{
	width: 90%;
	height: fit-content;
	background: #ddd;
	color: #222;
	border: 1px gray solid;
	padding: 5px 3% 5px 3%;
	cursor: pointer;
	margin-bottom: 30px;
}
.staff_invite header{
	font-size: 2.5em;
	font-weight: 700;
}
.staff_invite p{
	font-size: 2.5em;
}
