#create_hospital{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#create_hospital h1{
	font-size: 5vw;
	width: 100vw;
	text-align: center;
}
button{
	width: 30vw;
	height: 20vh;
	background: #000;
	color: #fff;
	font-size: 3vw;
	cursor: pointer;
}
